@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: #221d1d;
  padding: 64px 40px;
  text-align: left;
  color: #e1a064;
}
h1 {
  font-weight: 700;
  margin: 0 0 8px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #7b482e, 1px 1px 0 #7b482e;
}
.subheader {
  text-shadow: 1px 1px 0 #7b482e;
  font-weight: 400;
  margin: 8px 0;
}
img {
  max-width: 100%;
}
/* content */
.page-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-left {
  width: 408px;
}
.content-right {
  padding: 20px;
}
@media (max-width: 767px) {
  .page-content {
    display: block;
  }
  .content-left {
    width: 100%;
  }
  .content-right {
    padding: 0;
  }
}
.stat {
  margin-bottom: 8px;
}
.scene {
  display: block;
  width: 408px;
  height: 408px;
  position: relative;
  margin: 16px 0;
  border: 4px solid #2f2a2a;
  max-width: 100%;
  max-height: 80vw;
  box-shadow: inset 0 0 60px #0000009e;
  }
.scene-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s;
  opacity: 0;
}
.scene-item[id] {
  opacity: 1;
}
/* decoration elements */
.corner {
  position: absolute;
  z-index: -1;
  width: 24px;
  height: 24px;
  border: 4px solid #2a2626;
}
.corner.top {
  top: -12px;
}
.corner.left {
  left: -12px;
}
.corner.bottom {
  bottom: -12px;
}
.corner.right {
  right: -12px;
}

/* Icons nav */
.nav {
  text-align: center;
  display: inline-block;
  max-width: 408px;
}
.nav>div {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  background-color: #2b2727;
  border: 3px solid #2f2a2a;
  box-shadow: inset 0 0 16px #0009;
  cursor: pointer;
  transition: .2s;
}
.nav>div:hover {
  background-color: #2f2c2c;
}
.nav>div[equiped] {
  box-shadow: inset 0 0 16px #e4874599;
  border: 3px solid #4c311f;
}
.nav>div[equiped] img {
  opacity: 1;
}
.nav img {
  display: block;
  opacity: 0.6;
  transition: .2s;
}
.nav>div:hover img {
  opacity: 1;
}
/* images */
.scene-item.bg#bg-sparks {
  background-image: url('../img/bg-sparks.jpg');
  z-index: 1;
}
.scene-item.bg#bg-forest {
  background-image: url('../img/bg-forest.jpg');
  z-index: 1;
}
.scene-item.base#man1 {
  background-image: url('../img/man1.png');
  z-index: 10;
}
.scene-item.base#man2 {
  background-image: url('../img/man2.png');
  z-index: 10;
}
.scene-item.pants#leather-pants {
  background-image: url('../img/leather-pants.png');
  z-index: 11;
}
.scene-item.cape::before, .scene-item.cape::after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.scene-item.cape::before {
  z-index: 9;
}
.scene-item.cape::after {
  z-index: 12;
}
.scene-item.cape#red-cape::before {
  background-image: url('../img/red-cape-back.png');
}
.scene-item.cape#red-cape::after {
  background-image: url('../img/red-cape-front.png');
}
.scene-item.head#helm {
  background-image: url('../img/helm.png');
  z-index: 13;
}
.scene-item.head#wreath {
  background-image: url('../img/wreath.png');
  z-index: 13;
}
.scene-item.right#spear {
  background-image: url('../img/spear.png');
  z-index: 20;
}
.scene-item.right#sword {
  background-image: url('../img/sword.png');
  z-index: 20;
}
.scene-item.left#golden-shield {
  background-image: url('../img/golden-shield.png');
  z-index: 19;
}
.scene-item.left#celtic-shield {
  background-image: url('../img/celtic-shield.png');
  z-index: 19;
}
.scene-item.pants {

}
