* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #0d496f;
    color: #ffbf6b;
    padding: 40px;
    font-size: 20px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
#result {
    background-color: #647176;
    border-radius: 4px;
    padding: 24px;
}
.btn {
    border: 2px solid #647176;
    background-color: #ffbf6b;
    color: #0d496f;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}