.round {
  border-radius: 50%;
}
/* /display */
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
}
.display-none {
  display: none;
}
/* float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* height */
.height-auto {
  height: auto;
}
.height-full {
  height: 100%;
}
/* position */
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
/* text align */
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
/* vertical align */
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-top {
  vertical-align: top;
}
/* width */
.width-one-fifth {
  width: 20%;
}
.width-quarter {
  width: 25%;
}
.width-third {
  width: 33.333%;
}
.width-half {
  width: 50%;
}
.width-three-quarter {
  width: 75%;
}
.width-full {
  width: 100%;
}
/* z-index */
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
/* /helper classes */
.pure-js-carousel-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 50px;
}

.pure-js-carousel-container:before,
.pure-js-carousel-container:after {
  content: "";
  display: table;
}
.pure-js-carousel-container:after {
  clear: both;
}
.pure-js-carousel-list {
  float: left;
}
.pure-js-carousel-item {
  padding-right: 20px;
  color: #fff;
  float: left;
  text-align: center;
  width: 500px;
}
.pure-js-carousel-btn {
  position: absolute;
  top: 0px;
  width: 30px;
  height: 50px;
  background: transparent;
  border: 0;
  color: #d8dce6;
  transition: .2s;
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
}
.pure-js-carousel-btn:hover {
  color: #f57d2d;
}
.pure-js-carousel-btn-next {
  right: 8px;
}
.pure-js-carousel-btn-next::before {
content:'>'
}
.pure-js-carousel-btn-prev {
  left: 8px;
}
.pure-js-carousel-btn-prev::before {
content:'<'
}
.pure-js-carousel-dot-list {
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
.pure-js-carousel-dot-item {
  display: inline-block;
  margin: 0 5px;
}
.pure-js-carousel-dot-btn {
  background: #e6e8ec;
  border-radius: 50%;
  border: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.active > .pure-js-carousel-dot-btn {
  background: #a9abb7;
}
.pure-js-carousel-container {
  overflow: hidden;
}
.pure-js-carousel-item {
  float: left;
}
